<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Guardar venta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'add_venta' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_dep" class="form-label">Producto</label>
            <select class="form-select" id="producto" name="producto">
              <option value="">Seleccione un Producto</option>
              {% for pro in Producto %}
              <option value="{{ pro.id }}">Huevo {{ pro.tamaño.nombre }}, Cantidad disponible: {{pro.cantidad}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre cliente:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" min="0" required>
          </div>
          <div class="mb-3">
            <label for="precio" class="form-label">Cantidad a vender:</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" required>
          </div>
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha de venta:</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required>
          </div>
          <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Agregar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>