<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar inventario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <center>
          {% if error_message %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error_message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
        </center>
        <form method="post" action="{% url 'pag_add_inventario' id  %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad de cartones</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" required min="1">
          </div>
          <div class="mb-3">
            <label for="fecha" class="form-label">Fecha de producción</label>
            <input type="date" class="form-control" id="fecha" name="fecha" required>
          </div>
          <div class="mb-3">
            <label for="precio_unitario" class="form-label">Precio de venta individual:</label>
            <input type="text" class="form-control" id="precio_unitario" name="precio_unitario" required>
          </div>
          <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i> Agregar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>