<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Realizar cambio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {% if ventas %}
            <form method="post" action="{% url 'r_devolucion' ventas.id %}">
                {% csrf_token %}
                {% with lote=ventas.detalleventas_set.first.lotes.first %}
                <div class="mb-3">
                    <label for="producto" class="form-label">Producto:</label>
                    <select class="form-select" id="producto" name="producto">
                        <option value="{{ lote.produc.id }}" selected>Huevo {{ lote.produc.tamaño.nombre }}, Cantidad disponible: {{ lote.produc.cantidad }}</option>
                    </select>
                </div>
                {% endwith %}
                <div class="mb-3">
                    <label for="cantidad" class="form-label">Cantidad a devolver:</label>
                    <input type="number" class="form-control" id="cantidad" name="cantidad" min="0" required>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-rotate-right"></i> Realizar cambio</button>
            </form>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
</div>