<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if Producto %}
        <div class="mb-3">

            <p class="text-center">¿Estás seguro de que deseas borrar este objeto?</p>
            <center>
                <a type="submit" class="btn btn-danger" href="{% url 'borrar_tamano' Producto.id %}">Eliminar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </center>
        </div>
        {% endif %}
        {% if Lote %}
        <div class="mb-3">

            <p class="text-center">¿Estás seguro de que deseas borrar este objeto?</p>
            <center>
                <a type="submit" class="btn btn-danger" href="{% url 'borrar_lote' Lote.id %}">Eliminar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </center>
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>